* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    padding: 0;
    color: #444A52;
    background: #FDFDFD;
}

body > div {
    background: #FDFDFD;
}

h1 {
    color: #FF4F1F;
    font-size: 6vh;
    font-weight: 400;
}

pre {
    margin: 0;
}

gux-toggle {
    vertical-align: middle;
}

.timeline {
    display: flex;
    width: 100%;
    height: 100%;
}

.timeline > .year {
    flex-grow: 1;
}

.title-page {
    background-color: #FF4F1F;
    height: 100vh;
    width: 100vw;
    position: relative;
    color: white;
    padding-top: 28vh;
}

.title-page .main-section {
    display: flex;
    margin: auto;
    width: 138vh; 
    max-width: 95vw;
    font-size: 7vh;
    line-height: 8vh;
}

.title-page .g-logo {
    height: 39vh;
}

.title-page .divider {
    height: 32vh;
    width: 4px;
    background: white;
    margin-left: 7vh;
    margin-top: 4vh;
}

.title-page .title-text {
    margin-left: 7vh;
    margin-top: 4vh;
}

.title-page .small-section {
    display: flex;
    position: absolute;
    top: 80vh;
    left: 2vw;
    width: 96vw;
    align-items: center;
    justify-content: space-between;
}

.title-page .small-section .left-side {
    display: flex;
    align-items: center;
}

.title-page .small-section .talk-link a {
    color: #fff;
    font-size: 3vh
}


.title-page .small-section .genesys-small {
    height: 14vh;
}

.title-page .small-section .small-divider {
    width: 1px;
    background: white;
    height: 6.5vh;
    margin-left: -2.2vh;
}

.title-page .small-section .pko-text {
    font-size: 3.5vh;
    padding-top: 1.3vh;
    margin-left: 2vh;
}

/* Refs */

a[href^="https://docs.aws"] {
    font-size: 2vh;
    position: absolute;
    bottom: 3vh;
}

a[href="https://docs.aws.amazon.com/aws-technical-content/latest/microservices-on-aws/"] {
    font-size: 3vh;
    position: static;
}

.tech-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tech-list > li {
    padding: 0;
    margin: 0;
}

.tech-icon > img {
    height: 5vh;
}


/* Layout */

.title-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.slide-title {
    color: #FF4F1F;
    font-size: 6vh;
    padding-top: 6vh;
    height: 17vh;
    text-align: left;
    padding-left: 3.8vw;
}

.slide-content {
    height: 70vh;
    font-size: 3.2vh;
    line-height: 5vh;
    padding-left: 3.8vw;
    padding-right: 3vw;
    position: relative;
}

.slide-footer {
    flex-grow: 0.75;
}


/* SIM */
.sim h1 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 300;
}

.sim h2 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
}

.sim input[type="range"] {
    -webkit-appearance: initial;
    width: initial;
    background: initial;
    position: initial;
    left: initial;
    top: initial;
    z-index: initial;
    width: initial;
    outline: initial;
    height: initial;
    opacity: initial;
}

.sim input[type="range"]::-moz-range-track {
    background: #CCC;
    cursor: initial;
    
}

.sim input[type="range"]::-webkit-slider-runnable-track {
    background: #DDD;
    cursor: initial;
    border-radius: 6px;
}

.sim input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: initial;
    opacity: initial;
    width: 12px;
    height: 12px;
    background-color: #2A60C8;
    border: initial;
    border-radius: 6px;
}

.sim input[type="range"]::-moz-range-thumb {
    -webkit-appearance: initial;
    opacity: initial;
    width: 12px;
    height: 12px;
    background-color: #2A60C8;
    border: initial;
    border-radius: 6px;
}

.sim h1 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 300;
}

.sim h2 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
}

.sim button {
    background-color: #2A60C8;
    border: 1px solid #2455A3;
    color: #FDFDFD;
    height: 36px;
    padding: 0 16px;
    border-radius: 2px;
    margin: 4px 0;
}

.sim .sim-options {
    display: flex;
    justify-content: center;
}

.settings-actions {
    text-align: right;
    padding-right: 6ch;
}

.settings-view,
.release-legend {
    display: inline-block;
    margin-bottom: 20px;
    vertical-align: top;
    margin-right: 20px;
}

.range-setting {
    text-align: right;
}

.range-setting > * {
    vertical-align: middle;
}

.range-setting > .val-display {
    display: inline-block;
    width: 5ch;
    text-align: left
}

.sim-stats {
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 20px;
}

.year-sim {
    display: flex;
}

.week-label {
    text-align: center;
}

.week-sim {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 1px;
    flex-shrink: 1;
}

.release.has-feature {
    width: 100%;
    border: 1px solid #FFF;
}

.release.has-feature::before {
    content: '';
    float: left;
    padding-top: 100%;
}

.release-legend .release {
    display: inline-block;
    height: 15px;
    width: 15px;
}

.release-legend .legend-item > * {
    vertical-align: middle;
}

.release-legend .all-types {
    background: linear-gradient(135deg, #203b73 0%,#203b73 33%,#fabb00 33%,#fabb00 66%,#f53131 66%); 
    border: 1px solid #444A52;
}

.release-legend .release,
.week-sim .release {
    background-color: #203B73;
}

.release-legend .release.was-impacted,
.week-sim.has-issue .release {
    background-color: #FABB00;
}

.release-legend .release.has-issue,
.week-sim .release.has-issue {
    background-color: #F53131
}

/* Team List */

.team-list {
    text-align: left;
}

.team-list img {
    max-height: 12vh;
    max-width: 12vh;
    border-radius: 6vh;
    border: 3px solid #444a52;
    margin-right: 2vh;
}

.team-list .team-member > * {
    vertical-align: middle;
    margin-bottom: 2vh;
}

/* Component Demo */

.component-demo {
    display: flex;
    align-items: stretch;
    margin-top: 2vh;
}

.component-demo > * {
    flex-grow: 1;
    flex-basis: 1px;
    flex-shrink: 1;
}

pre + pre {
    margin-top: 1vh;
}

pre > code {
    font-size: 2.5vh;
    line-height: 1.5;
}

.component-demo .component-rendering {
    border: 1px solid #e4e9f0;
}

.team-columns {
    display: flex;
}

.team-list + .team-list {
    margin-left: 8vw;
}

.team-list img[src="you.png"] {
    width: 16vh;
    height: 16vh;
    max-width: 16vh;
    max-height: 16vh;
    border-radius: 8vh
}

.team-list img[src="you.png"] + .member-name {
    font-weight: bold;
    font-size: 5vh;
}

.previous-control {
    position: absolute;
    top: 0;
    left: 0;
    width: 4vw;
    bottom: 0;
}

.next-control {
    position: absolute;
    top: 0;
    right: 0;
    width: 4vw;
    bottom: 0;
}

.fs-control {
    width: 3vw;
    height: 3vw;
    position: absolute;
    bottom: 5px;
    right: 0;
    opacity: 0.3;
    background: transparent;
}

.fs-control img {
    width: 90%;
    height: 90%;
}

.elm-ui {
    height: 100%;
}

.elm-ui > div {
    font-size: 3vh !important;
}
